@use '@/styles/scss/mixin.scss' as *;

.wrapper {
  @include flex-column(center);
  gap: 16px;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: var(--brand-color-300-main, #ff808b);
  font-size: 42px;
  font-weight: 700;
}

.title {
  color: var(--Gray-Scale-700, #3f3f46);
  font-size: 18px;
  font-weight: 700;
}

.text {
  @include flex-column(center);
  color: var(--Gray-Scale-700, #3f3f46);
  font-weight: 500;
  font-size: 14px;
}

.homeButton {
  @include flex-row(center);
  @include button-status();

  gap: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 16px;
}
