@use '@/styles/scss/mixin.scss' as *;

.wrapper {
  @include skeleton;
  width: 100%;
  min-width: 768px;
  height: 800px;
  border-radius: 16px;
  margin-bottom: 30px;
  z-index: 1;

  @include tablet {
    min-width: 100%;
    height: 650px;
  }

  @include mobile {
    min-width: 100%;
    height: 445px;
  }
}
