@use '@/styles/scss/mixin.scss' as *;

.wrapper {
  @include flex-column(center);
  gap: 4px;
  margin-bottom: 64px;
  .category {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Butler';
    color: var(--Brand-color-400, #f16370);
  }

  .title {
    color: var(--Gray-Scale-900, #18181b);
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.4px;
  }
}
