@use '@/styles/scss/mixin.scss' as *;

.container {
  @include flex-column(center);
  gap: 24px;

  .main_img_wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;

    .dir_btn {
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #f4f4f5;
      opacity: 0.7;

      &:first-child {
        left: 16px;
      }
      &:last-child {
        right: 16px;
      }
    }

    .main_img {
      width: 100%;
      height: 400px;
      border-radius: 8px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: #e4e4e7;
    }
  }

  .sub_img_wrapper {
    @include flex-row(center);
    gap: 16px;

    .sub_image {
      position: relative;
      cursor: pointer;
      width: 100px;
      height: 100px;
      border-radius: 8px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: #e4e4e7;

      &.selected {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100px;
          height: 100px;
          border-radius: 8px;
          background: rgba(0, 0, 0, 0.4);
          pointer-events: none;
          z-index: 1;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.4);
        pointer-events: none;
        z-index: 1;
      }
    }
  }
}
