@use '@/styles/scss/mixin.scss' as *;

.wrapper {
  @include flex-column();
  gap: 12px;
  width: 70%;

  .footer_top {
    @include skeleton;
    width: 100%;
    height: 12px;
    border-radius: 4px;
  }

  .footer_body {
    @include skeleton;
    width: 70%;
    height: 12px;
    border-radius: 6px;
  }

  .footer_bottom {
    @include skeleton;
    width: 50%;
    height: 12px;
    border-radius: 6px;
  }
}
