:root {
  --lazy-img-width: 400px;
  --lazy-img-height: 400px;
}

.lazy_img {
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--lazy-img-width);
  height: var(--lazy-img-height);
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton {
  border-radius: 8px;
  background-color: #e4e4e7;
  background-image: linear-gradient(
    90deg,
    #e4e4e7 25%,
    #f4f4f5 50%,
    #e4e4e7 75%
  );
  background-repeat: no-repeat;
  display: inline-block;
  animation: shimmer 1.5s infinite linear;
  width: var(--lazy-img-width);
  height: var(--lazy-img-height);
}
