@mixin flex-row($justify: space-between, $align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($align: flex-start, $justify: space-between) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-status() {
  color: var(--Gray-Scale-White, #fff);
  background: var(--brand-color-300-main, #ff808b);
  &:hover {
    background: var(--Brand-color-400, #f16370);
  }
  &:active {
    background: var(--Brand-color-500, #ee5462);
  }
}

@mixin before() {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

$breakpoints: (
  'mobile': 360px,
  'tablet': 768px,
  'desktop': 1280px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} is not defined.";
  }
}
