:root {
  // gray scale
  --Gray-Scale-White: #ffffff;

  --Gray-Scale-50: #fafafa;
  --Gray-Scale-100: #f4f4f5;
  --Gray-Scale-200: #e4e4e7;
  --Gray-Scale-300: #d4d4d8;
  --Gray-Scale-400: #a1a1aa;
  --Gray-Scale-500: #71717a;
  --Gray-Scale-600: #52525b;
  --Gray-Scale-700: #3f3f46;
  --Gray-Scale-800: #27272a;
  --Gray-Scale-900: #18181b;

  // brown scale
  --Brown-Scale-Color-50: #f7f6f2;
  --Brown-Scale-Color-100: #efede5;
  --Brown-Scale-Color-200: #dedaca;
  --Brown-Scale-Color-300: #c9c1a8;
  --Brown-Scale-Color-400: #b2a485;
  --Brown-Scale-Color-500: #958061;
  --Brown-Scale-Color-600: #7d6951;
  --Brown-Scale-Color-700: #665646;
  --Brown-Scale-Color-800: #54473a;
  --Brown-Scale-Color-900: #2c241e;

  // brand
  --Brand-color-50: #fff2f3;
  --Brand-color-100: #ffe6e8;
  --Brand-color-200: #ffccd1;
  --brand-color-300-main: #ff808b;
  --Brand-color-400: #f16370;
  --Brand-color-500: #ee5462;
}
