.wrapper {
  width: 100%;
  height: 84px;
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 999;
  background: white;

  .logo_btn {
    background: none;
    img {
      height: 28px;
    }
  }

  .menus {
    display: flex;
    gap: 32px;
    margin-left: 48px;
    margin-right: auto;

    a {
      text-decoration: none;
      color: inherit;
      color: var(--Gray-Scale-700, #3f3f46);
      line-height: 150%; /* 24px */
      letter-spacing: -0.16px;

      &:hover {
        color: var(--Brand-color-400, #f16370);
      }
    }

    .active_menu {
      color: var(--Brand-color-500, #ee5462);
      font-weight: 600;
    }
  }

  .button {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: var(--brand-color-300-main, #ff808b);
    color: var(--Gray-Scale-White, #fff);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;

    &:hover {
      background: var(--Brand-color-400, #f16370);
    }

    &:active {
      background: var(--Brand-color-500, #ee5462);
    }
  }
}

.wrapper.top_page {
  background: none;
}
