@use '@/styles/scss/mixin.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #e4e4e7;
  padding: 32px 20px;
  white-space: pre-wrap;
  word-break: break-all;

  &:last-child {
    border-bottom: none;
  }

  @include mobile {
    padding: 20px 12px;
  }

  .question {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #fff;
    text-align: start;

    color: var(--Gray-Scale-900, #18181b);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.18px;

    @include mobile {
      padding: 0;
      font-size: 14px;
      letter-spacing: -0.14px;
      gap: 8px;
    }

    .icon {
      transition: transform 0.3s ease-in-out;
    }
    .icon.active {
      transform: rotate(45deg);
    }
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 20px;
    padding-left: 36px;
    color: var(--Gray-Scale-900, #18181b);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
    transition:
      max-height 0.2s ease-out,
      opacity 0.1s ease-out,
      padding 0.2s ease-out;
  }

  .answer.active {
    max-height: 200px; /* 펼쳐지는 높이 설정 */
    opacity: 1;
    padding: 24px 36px;

    border-radius: 6px;
    border: 1px solid var(--Gray-Scale-100, #f4f4f5);
    background: var(--Gray-Scale-100, #f4f4f5);
    margin-top: 16px;

    @include mobile {
      margin-top: 16px;
      padding: 16px;
    }
  }
}
